<component name="libraryTable">
  <library name="spring-data-jpa-1.1.0.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-14/filestore/org.springframework.data/spring-data-jpa/1.1.0.RELEASE/jar/eb5a5325107e8a8b025aa8a799d9d385a04ea962/spring-data-jpa-1.1.0.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-14/filestore/org.springframework.data/spring-data-jpa/1.1.0.RELEASE/source/fa9b506829fe9a4fea0e742d7c4843ce11ac27cb/spring-data-jpa-1.1.0.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>